@import "tailwindcss";


@font-face {
  font-family: 'Galmuri11';
  src: url('./assets/fonts/Galmuri11.ttf') format('truetype');
  font-weight: 400; /* normal */
  font-style: normal;
}

@font-face {
  font-family: 'Galmuri11';
  src: url('./assets/fonts/Galmuri11-Bold.ttf') format('truetype');
  font-weight: 700; /* bold */
  font-style: normal;
}

body {
  font-family: 'Galmuri11';
  font-style: normal;
  font-size: 24px;
  height: 100vh;
  background-color: #111;

  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* --- (기존에 있던 코드) --- */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */