@import "tailwindcss";


@font-face {
  font-family: 'Galmuri11';
  src: url('./assets/fonts/Galmuri11.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Galmuri11-bold';
  src: url('./assets/fonts/Galmuri11-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;