@import "tailwindcss";


@font-face {
  font-family: 'Galmuri11';
  src: url('./assets/fonts/Galmuri11.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Galmuri11-bold';
  src: url('./assets/fonts/Galmuri11-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
}

body {
  font-family: 'Galmuri11';
  font-style: normal;
  font-size: 24px;
  background-color: #111;
  color: white;

  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(400%);
    }
  }
}

